[Home](../README.md)

### Data Wrangling

#### Load the required dependencies

In [9]:
# Import frameworks
import pandas as pd

####  Store the data as a local variable

The data frame is a Pandas object that structures your tabular data into an appropriate format. It loads the complete data in memory so it is now ready for preprocessing.

In [10]:
data_frame = pd.read_csv("movies.csv")

#### Dealing with null values

Null values during data analysis can cause runtime errors and unexpected results. It is important to identify null values and deal with them appropriately before training a model.

The `isnull().sum()` method call returns the null values in any column.

In [11]:
data_frame.isnull().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

For categorical columns like rating, company, and writer, I will remove rows with null values using `dropna()` because these features are essential for understanding a movie's context, and missing them could reduce model accuracy.

In [12]:
# Remove Null values
data_frame = data_frame.dropna(subset=['rating'])
data_frame = data_frame.dropna(subset=['company'])
data_frame = data_frame.dropna(subset=['writer'])
data_frame = data_frame.dropna(subset=['score'])
data_frame = data_frame.dropna(subset=['runtime'])
data_frame.isnull().sum()

name           0
rating         0
genre          0
year           0
released       0
score          0
votes          0
director       0
writer         0
star           0
country        0
budget      2101
gross        162
company        0
runtime        0
dtype: int64

For numerical columns like budget and gross, I will replace missing values using `fillna()` with their mean to preserve data size while minimizing the impact on statistical analysis.

In [13]:
# Replace Null values with the mean value for the column
data_frame['budget'] = data_frame['budget'].fillna(data_frame['budget'].mean())
data_frame['gross'] = data_frame['gross'].fillna(data_frame['gross'].mean())

data_frame.isnull().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

#### Remove Duplicates

Duplicate data can have detrimental effects on your machine learning models and outcomes, such as reducing data diversity and representativeness, which can lead to overfitting or biased models.

The `duplicated().sum()` method call returns the count of duplicate rows in the data frame.

In [14]:
data_frame.duplicated().sum()

np.int64(0)

As the dataset has no duplicates, we can continue on with wrangling our data.

#### Replace data

I used the the `str.replace()` method with a regular expression (regex) to clean the 'released' column.

In [15]:
data_frame['released'] = data_frame['released'].str.replace(r'\s*\(.*\)', '', regex=True)

This removes any text in parentheses (e.g., country names like " (United States)") from the 'released' column, simplifying the release dates. I chose to remove this because it is not relevant to my target variable (gross revenue) and improves the dataset's clarity and readability.

We can check that there are no data entry errors by the `unique()` method call.

In [16]:
data_frame['released'].unique()

array(['June 13, 1980', 'July 2, 1980', 'June 20, 1980', ...,
       'April 17, 2020', 'June 3, 2020', 'March 3, 2020'], dtype=object)

#### Remove outliers

I have decided not to remove outliers from my dataset because extreme values in features like budget and gross represent real-world blockbusters or low-budget films, which are crucial for accurately predicting movie revenue. Removing these outliers could erase valuable patterns and reduce the model's ability to generalize across different types of movies.

#### Scaling features to a common range

Scaling the features makes it easier for machine learning algorithms to find the optimal solution, as the different scales of the features do not influence them.

In [17]:
#get the inter-quartile range on the x column
print(data_frame['budget'].describe())
Q1 = data_frame['budget'].quantile(0.25)
Q3 = data_frame['budget'].quantile(0.75)
IQR = Q3 - Q1
print(f'Outliers are a budget above {Q3 + IQR * 1.5} or below {Q1 - IQR * 1.5}')

count    7.574000e+03
mean     3.571651e+07
std      3.527035e+07
min      3.000000e+03
25%      1.400000e+07
50%      3.571651e+07
75%      3.571651e+07
max      3.560000e+08
Name: budget, dtype: float64
Outliers are a budget above 68291268.09747852 or below -18574760.858487114

In [18]:
scale_feature = 'gross'

# Get the minimum and maximum values for the 'gross' column
MIN_BP = data_frame[scale_feature].min()
MAX_BP = data_frame[scale_feature].max()

# Apply min-max scaling
data_frame[scale_feature] = (data_frame[scale_feature] - MIN_BP) / (MAX_BP - MIN_BP)

In [19]:
scale_feature = 'runtime'

# Get the minimum and maximum values for the 'runtime' column
MIN_BP = data_frame[scale_feature].min()
MAX_BP = data_frame[scale_feature].max()

# Apply min-max scaling
data_frame[scale_feature] = (data_frame[scale_feature] - MIN_BP) / (MAX_BP - MIN_BP)

In [20]:
scale_feature = 'budget'

# Get the minimum and maximum values for the 'budget' column
MIN_BP = data_frame[scale_feature].min()
MAX_BP = data_frame[scale_feature].max()

# Apply min-max scaling
data_frame[scale_feature] = (data_frame[scale_feature] - MIN_BP) / (MAX_BP - MIN_BP)

In [21]:
scale_feature = 'votes'

# Get the minimum and maximum values for the 'votes' column
MIN_BP = data_frame[scale_feature].min()
MAX_BP = data_frame[scale_feature].max()

# Apply min-max scaling
data_frame[scale_feature] = (data_frame[scale_feature] - MIN_BP) / (MAX_BP - MIN_BP)

In [22]:
scale_feature = 'score'

# Get the minimum and maximum values for the 'score' column
MIN_BP = data_frame[scale_feature].min()
MAX_BP = data_frame[scale_feature].max()

# Apply min-max scaling
data_frame[scale_feature] = (data_frame[scale_feature] - MIN_BP) / (MAX_BP - MIN_BP)

In [23]:
# Verify the scaled data
data_frame.describe()

,year,score,votes,budget,gross,runtime
count,7574.000000,7574.000000,7574.000000,7574.000000,7574.000000,7574.000000
mean,2000.377079,0.606668,0.037045,0.100320,0.027744,0.146175
std,11.108858,0.130866,0.068352,0.099075,0.057750,0.061336
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1991.000000,0.527027,0.003902,0.039318,0.001701,0.105611
50%,2000.000000,0.621622,0.013736,0.100320,0.007555,0.135314
75%,2010.000000,0.702703,0.039153,0.100320,0.027744,0.174917
max,2020.000000,1.000000,1.000000,1.000000,1.000000,1.000000

> [!important]
> You need to save the calculations for each dataset you scale for scaling new values for prediction. Use [2.1.2.data.records.md](2.1.2.data.records.md) to record this information.

#### Save the wrangled data to CSV

In [24]:
data_frame.to_csv('../Feature_Engineering/wrangled_data.csv', index=False)